<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bertof.pitestremote">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:logo="@drawable/raspi_logo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SetupConnectionActivity"
            android:description="@string/connection_setup_activity_desc"
            android:label="@string/connection_setup"
            android:permission="android.permission.INTERNET"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainMenuActivity"
            android:description="@string/main_menu_activity_description"
            android:permission="android.permission.INTERNET"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ExecuteCommandActivity"
            android:description="@string/execute_command_activity_description"
            android:permission="android.permission.INTERNET"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".GetScriptsActivity"
            android:description="@string/get_scripts_activity_description"
            android:permission="android.permission.INTERNET"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ExecuteScriptActivity"
            android:permission="android.permission.INTERNET"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ExecuteScriptAirodumpScanActivity"
            android:permission="android.permission.INTERNET"
            android:theme="@style/AppTheme" />
    </application>

</manifest>